h2{
    text-align: center;
    color: darkblue;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: auto;
    padding: 50px;
}
fTitle{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
}
form>div{
    box-shadow: inset;
}

