<div style="margin-left: 90%">
  <a routerLink="/createForm" style="width: fit-content">
    <button
      class="add-btn"
      style="box-shadow: 0 0px 14px 4px rgba(215, 250, 253, 0.616)"
    >
      Create Form!
    </button>
  </a>
</div>

<hr />

<div class="card-container">
  <div *ngFor="let item of data" class="card">
    <div class="card-content">
      <h3>{{ item?.formTitle }}</h3>
      <a
        [routerLink]="['/editForm', item?._id]"
        routerLinkActive="router-link-active"
      >
        <button class="add-btn1">View/Edit Form</button>
      </a>
      <button
      class="add-btn1"
        (click)="deleteForm(item?._id)"
        style="color: red; cursor: pointer"
      >
        Delete Form
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Add some basic styles for the cards -->
<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .card {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 200px;
    align-items: center;
  }
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
  }
  .card-content h3 {
    margin: 0 0 8px 0;
  }
  .card-content a {
    color: #1e90ff;
    text-decoration: none;
  }
  .card-content a:hover {
    text-decoration: underline;
  }
</style>
