<form [formGroup]="fillForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let section of dataObject?.sections">
      <h3>{{ section.sectionTitle }}</h3>
      <div [formGroupName]="section.sectionTitle">
        <div *ngFor="let field of section.fields">
          <label>{{ field.title }}</label>
          <div *ngIf="field.body === 'singleSelect'">
            <select [formControlName]="field.title">
              <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
            </select>
          </div>
          <div *ngIf="field.body !== 'singleSelect'">
            <input [formControlName]="field.title" [type]="field.body" />
          </div>
      </div>
      </div>
      </div>
    <button type="submit">Submit</button>
  </form>

  