<div style="margin-left: 90%">
  <button
    class="add-btn2"
    (click)="downloadPDF()"
    style="box-shadow: 0 0px 14px 4px rgba(215, 250, 253, 0.616)"
  >
    Download
  </button>
</div>
<hr />
<form [formGroup]="editForm" (ngSubmit)="onsubmit()">
  <input class="fTitle" formControlName="formTitle" placeholder="Form Title" />
  <div formArrayName="sections" class="sections">
    <div
      *ngFor="let section of getSections().controls; let i = index"
      [formGroupName]="i"
      class="section-container"
    >
      <input formControlName="sectionTitle" placeholder="Section Title" />
      <div class="fields" formArrayName="fields">
        <div
          *ngFor="let field of getFields(i).controls; let j = index"
          [formGroupName]="j"
          class="field-container"
        >
          <input formControlName="title" placeholder="Field Title" />
          <div class="field-options">
            <select formControlName="body">
              <option value="text">Text</option>
              <option value="number">Number</option>
              <option value="date">Date</option>
              <option value="multiSelect">Multi Select</option>
              <option value="singleSelect">Single Select</option>
            </select>
          </div>

          <input
            *ngIf="!isMultiSelectOrSingleSelect(field)"
            formControlName="value"
            placeholder="Value"
          />

          <div
            formArrayName="options"
            *ngIf="isMultiSelectOrSingleSelect(field)"
          >
            <div
              *ngFor="
                let option of field.get('options').controls;
                let k = index
              "
            >
              <input [formControlName]="k" placeholder="Option" />
              <button
                type="button"
                class="add-btn"
                class="dlt"
                (click)="removeOption(i, j, k)"
              >
                Delete this Option
              </button>
            </div>
            <button type="button" (click)="addOption(i, j)">Add Option</button>
          </div>
          <div style="display: flex; padding-left: 2px">
            <div
              style="
                display: flex;
                flex-direction: row;
                padding-left: 4px;
                padding-right: 4px;
                border: 1px solid rgba(156, 153, 153, 0.322);
                margin-right: 2px;
              "
            >
              <p style="margin-top: 7px">Required</p>
              <input
                style="width: fit-content; margin-top: 12px"
                type="checkbox"
                formControlName="require"
              />
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                padding-left: 4px;
                padding-right: 4px;
                border: 1px solid rgba(156, 153, 153, 0.322);
                margin-right: 2px;
              "
            >
              <p style="margin-top: 7px; margin-left: 15px">Show_On_Card</p>
              <input
                type="checkbox"
                style="width: fit-content; margin-top: 12px"
                formControlName="showCard"
              />
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                padding-left: 4px;
                padding-right: 4px;
                border: 1px solid rgba(156, 153, 153, 0.322);
              "
            >
              <p style="margin-top: 7px; margin-left: 15px">Unique</p>
              <input
                type="checkbox"
                formControlName="unique"
                style="width: fit-content; margin-top: 12px"
              />
            </div>
          </div>
          <button type="button" class="dlt" (click)="removeField(i, j)">
            Delete this Field
          </button>
        </div>
      </div>
      <button type="button" class="add-btn" (click)="addField(i)">
        Add Field
      </button>
      <button type="button" class="dlt" (click)="removeSection(i)">
        Delete this Section
      </button>
    </div>
    <button
      type="button"
      class="add-btn"
      style="margin-left: 5px"
      (click)="addSection()"
    >
      Add Section
    </button>
  </div>
  <button class="add-btn submit" type="submit">Submit</button>
</form>
